* {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.sectionNav {
  overflow: hidden;
}

header {
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  padding: 20px;
  background: linear-gradient(153deg, rgba(78, 96, 128, 1) 0%, rgba(47, 52, 76, 1) 100%);
  box-shadow: 0px 2px 11px 0px rgba(255, 255, 255, 0.2);

  .logo {
    width: 20%;

    img {
      width: 100%;
    }
  }

  .menu {
    margin-left: 5%;
    width: 80%;
    list-style-type: none;
    display: inline;

    li {
      margin-right: 30px;
      list-style-type: none;
      display: inline;
    }
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 100%;
    border: 1px solid white;
    padding: 10px;
  }

  a.nav-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 165%;
  }
}

main {
  padding: 0 10px;
  display: flex;

  .leftmenu {
    list-style-type: none;
    margin-top: 70px;
    width: 20%;
    justify-content: center;
    text-decoration: none;

    ul {
      top: 30px;
      position: sticky;
      margin-left: 50px;

      li {
        width: auto;
        margin: auto;
        margin-bottom: 15px;
        list-style-type: none;
        text-decoration: none;
        color: #a2b0c7;
        font-size: 25px;
        font-weight: 300;
        line-height: 165%;

        &.active {
          font-weight: 400;
          color: #c9a8f5;
        }
      }
    }
  }

  .rightmenu {
    list-style-type: none;
    margin-top: 60px;
    width: 20%;
    justify-content: center;
    text-decoration: none;

    .search {
      padding: 20px;
      top: 20px;
      position: sticky;
      border-radius: 20px;
      background: linear-gradient(153deg, rgba(78, 96, 128, 1) 0%, rgba(47, 52, 76, 1) 100%);
      box-shadow: 0px 2px 11px 0px rgba(255, 255, 255, 0.2);

      h3 {
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 300;
        line-height: 100%;
        color: #a2b0c7;
      }

      .searchInput {
        width: 100%;
        border-radius: 20px;
        background: linear-gradient(153deg, rgba(78, 96, 128, 1) 0%, rgba(47, 52, 76, 1) 100%);
        box-shadow: 0px 2px 11px 0px rgba(255, 255, 255, 0.2);
        margin-bottom: 30px;

        input {
          padding: 10px;
          width: 100%;
          font-size: 20px;
          background: none;
          border: none;
          outline: none;
          color: #a2b0c7;
        }
      }

      ul {

        li {
          width: auto;
          margin: auto;
          margin-bottom: 15px;
          list-style-type: none;
          text-decoration: none;
          color: #a2b0c7;
          font-size: 20px;
          font-weight: 300;
          line-height: 100%;
        }
      }
    }
  }
}

.content {
  padding: 60px 20px;
  border-left: 1px solid #a2b0c72a;
  width: 60%;
  display: flex;
  gap: 20px;
  flex-direction: column;

  .row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    //box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2);
    background-color: #a2b0c713;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;

    &:hover {
      box-shadow: 0px 0px 10px 2px #c9a8f5;
    }

    .img {
      width: 20%;
      border-radius: 20px;
      height: 300px;
      position: relative;

      .left-top,
      .right-top,
      .left-bottom,
      .right-bottom
      {
        display: flex;
        gap: 10px;
        align-items: center;
      }

      .metka {
        border-radius: 5px;
        width: fit-content;
        padding: 5px;
        color: white;

        font-size: 12px;
      }

      .left-top {
        position: absolute;
        top: 10px;
        left: 10px;
      }

      .right-top {
        position: absolute;
        top: 10px;
        right: 10px;
      }

      .left-bottom {
        position: absolute;
        bottom: 10px;
        left: 10px;
      }

       .right-bottom {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }

      .green {
        background-color: green;
      }

      .yelow {
        background-color: rgb(255, 174, 0);
      }

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 20px;
      }
    }

    .rowText {
      width: 80%;
      display: flex;
      flex-direction: column;

      h2 {
        margin-bottom: 10px;
      }

      .author {
        margin-bottom: 10px;
      }

      .teg {
        margin-bottom: 5px;
      }

      .description {
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .metki {
        margin-top: 10px;
        display: flex;
        gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;

        span{
          font-size: 12px;
          padding: 4px 6px;
          background-color: rgb(78, 96, 128);
          border-radius: 10px;
        }
      }


      * {
        color: white;
      }
    }
  }
}

body {
  background: radial-gradient(circle, rgba(16, 17, 39, 1) 0%, rgba(31, 41, 73, 1) 100%);
}